.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.main-content {
  flex-grow: 1;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
